/*colores
celeste claro = #C3E5F9
celeste oscuro = #12A89D
rojo = #B30F2A
azul = #1C4583
*/
*{margin:0;}
body{
	background:#C3E5F9;	
	font-size:16px;
	font-family:Arial;
	
}
header{
	text-align: center;
}
img{
	height:auto;
	width:100%;
}
section{
	width:30%;
	float:left;
}
#datos-encuesta{
	background: #1C4583;

}
#menu{
	max-width: 1000px;
	background: #fff;
	margin:0 auto;
	text-align: center;
	padding: 20px 0;
}
#menu ul{
	padding: 0;
}
#menu ul li{	
	display:inline-block;
	list-style: none;
	padding:10px;
	background:gray;
	margin:10px;
	width: 130px;
}

#menu ul li a{
	color: white;
	text-decoration: none;
}


#menu-encuesta{

}
.columna1{
	background:#12A89D;
}

.columna2{
	background:#B30F2A;
	width:70%;
}

@media screen and (max-width:480px){

	#menu ul li{
		display:block;	
		width:auto !important;
	}

	
}
@media screen and (max-width:800px){
	section{
		width:100%;
	}
	
}

