*{margin:0;}
footer
{	
	background: #098609;
	bottom: 0;
	left: 0;
	position: fixed;	
	width: 100%;
}


header{
	text-align: center;
	background:
   	#E2E2E2 url(../images/fondo-header.png)
   	repeat-x left center;
	height: 120px;
	margin-bottom: 10px;
	margin-top: 0%;
}

#contenedor-login{
	width: 40%;
	background: #fff;
	position: relative;
	margin: 10% auto;
	padding: 20px 0px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	background: -moz-linear-gradient(#fff, #ccc);
	background: -webkit-gradient(linear, right bottom, right top, color-stop(1, rgb(255,255,255)), color-stop(0.57, rgb(230,230,230)));
	text-shadow: 0 1px 0 #fff;
}

#contenedor-principal{
	border-radius:15px;
	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	margin:10px auto 40px auto;	
	padding:10px 0;	
	width:80%;
}
#busquedas-rapidas{
	display:block;
	padding:10px 20px;
	width: 50%;
	x	

}
#contenedor-fila1-arriva{
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5), -0px -5px 5px rgba(0,0,0,0.5);
	border-radius:15px 0px 25px 0px;
	padding:10px;
}
#contenedor-fila1-abajo{
	box-shadow: -5px -5px 7px rgba(0,0,0,0.5);
	border-radius:15px 0px 25px 0px;
	padding:10px;
}
.contenedor-pregunta{
	padding: 5px;
	box-shadow: 0px 1px 1px rgb(6,73,24), -0px -1px 1px rgb(6,73,24);
	width: auto;
	height: auto;

}
.encabezados{
	color: #145779;
}
.alinear-izquierda{
	padding-left: 0 !important;
}





@media screen and (max-width:1000px){
	#busquedas-rapidas{
		width:auto !important;
	}
	#contenedor-principal{
		width:auto !important;
	}
}
@media screen and (max-width:480px){

	#contenedor-login{
		width:auto !important;
	}
	#contenedor-principal{
		width:auto !important;
	}

	
}

